<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Note</title>
    <style>
        body {
            background-color: #000000;
            color: #ffffff;
        }
        .note-form {
            display: flex;
            flex-direction: column;
            max-width: 300px;
            margin: 0 auto;
        }
        .note-form input, .note-form textarea, .note-form button {
            margin-bottom: 15px;
        }
        .buttons {
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
<h2>Edit Note</h2>

<form th:action="@{/note/update}" method="post" class="note-form">
    <input type="hidden" th:field="*{id}">

    <label for="noteName">Note Name:</label>
    <input type="text" id="noteName" th:field="*{title}" required>

    <label for="noteContent">Content:</label>
    <textarea id="noteContent" th:field="*{content}" rows="5" required></textarea>

<!--    <label for="noteContent">Content:</label>-->
<!--    <textarea id="noteContent" th:field="*{}" rows="5" required></textarea>-->

    <div class="buttons">
        <button type="submit"> Save Changes </button>
        <button type="button" onclick="location.href='@{/note/list}';">Cancel</button>
    </div>
</form>
</body>
</html>
