<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <title>Webleb</title>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="section">-->
<!--    <div class="container">-->
<!--        <div class="row full-height justify-content-center">-->
<!--            <div class="col-12 text-center align-self-center py-5">-->
<!--                <div class="section pb-5 pt-5 pt-sm-2 text-center">-->
<!--                    <div class="card-back">-->
<!--                        <div class="center-wrap">-->
<!--                            <div class="section text-center">-->
<!--                                <h4 class="mb-3 pb-3">Sign Up</h4>-->

<!--                                <form th:action="@{/register}" th:object="${user}" method="post" novalidate>-->

<!--                                    <div class="form-group">-->
<!--                                        <input type="text" class="form-style" th:field="*{username}" placeholder="Username">-->
<!--                                        <i class="input-icon uil uil-user"></i>-->
<!--                                    </div>-->
<!--                                    -->

<!--                                    <div class="form-group">-->
<!--                                        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;">Username Error</span>-->
<!--                                    </div>-->

<!--                                    <div class="form-group mt-2">-->
<!--                                        <input type="password" class="form-style"-->
<!--                                               name="password" id="password" placeholder="Password"-->
<!--                                               required>-->
<!--                                        <i class="input-icon uil uil-lock-alt"></i>-->
<!--                                    </div>-->

<!--                                        <div class="col-md-4">-->
<!--                                            <label for="validationCustom01" class="form-label">First name</label>-->
<!--                                            <input type="text" class="form-control" id="validationCustom01" value="Mark" required>-->
<!--                                            <div class="valid-feedback">-->
<!--                                                Looks good!-->
<!--                                            </div>-->
<!--                                        </div>-->

<!--                                    <div class="form-group mt-2">-->
<!--                                        <input type="password" class="form-style" id="confirmPassword"-->
<!--                                               placeholder="Confirm Password" required>-->
<!--                                        <i class="input-icon uil uil-lock-alt"></i>-->
<!--                                    </div>-->

<!--                                    <span id="error" style="color: red;"></span>-->

<!--                                    <input class="btn btn-secondary" onclick="validatePassword()"-->
<!--                                           type="submit" value="Register">-->

<!--                                    <p class="text-center text-muted mt-5 mb-0">Have already an account?-->
<!--                                        <a  th:href="@{/login}" class="fw-bold text-body"><u>Login here</u></a>-->
<!--                                    </p>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<script>-->
<!--    (function () {-->
<!--        'use strict'-->
<!--        var forms = document.querySelectorAll('.needs-validation')-->

<!--        Array.prototype.slice.call(forms)-->
<!--            .forEach(function (form) {-->
<!--                form.addEventListener('submit', function (event) {-->
<!--                    if (!form.checkValidity()) {-->
<!--                        event.preventDefault()-->
<!--                        event.stopPropagation()-->
<!--                    }-->


<!--                    form.classList.add('was-validated')-->
<!--                }, false)-->
<!--            })-->
<!--    })()-->
<!--</script>-->
<!--<script>-->
<!--    function validatePassword() {-->
<!--        const password = document.getElementById("password").value;-->
<!--        const confirmPassword = document.getElementById("confirmPassword").value;-->
<!--        const errorSpan = document.getElementById("password-error");-->

<!--        if (password !== confirmPassword) {-->
<!--            errorSpan.textContent = "Passwords do not match!";-->
<!--            return false;-->
<!--        } else {-->
<!--            errorSpan.textContent = "";-->
<!--            return true;-->
<!--        }-->
<!--    }-->
<!--</script>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Validation</title>
</head>
<body style="background-color: #dfe4ea; ">
<div class="container">
    <div class="row">
        <p>Following is an example demonstrating form validation using custom styles:</p>
        <form class="needs-validation" th:method="post" th:action="@{/register}" th:object="${user}"  novalidate>

            <label for="validationCustomUsername" class="form-label">Enter a valid username : </label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" id="validationCustomUsername1"
                       aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>


            <div class="input-group has-validation">
                <input type="text" th:field="*{username}" class="form-control" id="validationCustomUsername" placeholder="Username" required>
                <div class="invalid-feedback">
                    <div class="form-group">
<!--                        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>-->
                        <li th:each="err : ${#fields.hasErrors('username')}" th:text="${err}">Input is incorrect</li>
                    </div>
                </div>
            </div>


<!--            <div>-->
<!--                <label for="fullName">Name</label> <input type="text" th:field="*{fullName}"-->
<!--                                                          id="fullName" placeholder="Full Name">-->
<!--                <ul>-->
<!--                    <li th:each="err : ${#fields.errors('fullName')}" th:text="${err}" class="error" />-->
<!--                </ul>-->
<!--            </div>-->
<!--                <button class="btn btn-secondary" type="submit">Submit</button>-->


            <input class="btn btn-secondary" onclick="validatePassword()"
            type="submit" value="Register">

        </form>
    </div>
</div>
<script>
    (function () {
        'use strict'
        var forms = document.querySelectorAll('.needs-validation')

        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
</body>
</html>